WCF/TestWCF/Service References/ServiceReference2/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://127.0.0.1:11224" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://127.0.0.1:11224" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:11224/Imports">
      <xsd:import schemaLocation="http://localhost:11224/?xsd=xsd0" namespace="http://127.0.0.1:11224" />
      <xsd:import schemaLocation="http://localhost:11224/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Icl" />
      <xsd:import schemaLocation="http://localhost:11224/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceB_GetDataB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataB" />
  </wsdl:message>
  <wsdl:message name="ServiceB_GetDataB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceB_GetDataB_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Icl" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="ServiceB_GetDataUsingDataContractB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractB" />
  </wsdl:message>
  <wsdl:message name="ServiceB_GetDataUsingDataContractB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractBResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceB_Call_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Call" />
  </wsdl:message>
  <wsdl:message name="ServiceB_Call_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceB">
    <wsdl:operation name="GetDataB">
      <wsdl:input wsaw:Action="http://127.0.0.1:11224/ServiceB/GetDataB" message="tns:ServiceB_GetDataB_InputMessage" />
      <wsdl:output wsaw:Action="http://127.0.0.1:11224/ServiceB/GetDataBResponse" message="tns:ServiceB_GetDataB_OutputMessage" />
      <wsdl:fault wsaw:Action="http://127.0.0.1:11224/ServiceB/GetDataBFaultExceptionFault" name="FaultExceptionFault" message="tns:ServiceB_GetDataB_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContractB">
      <wsdl:input wsaw:Action="http://127.0.0.1:11224/ServiceB/GetDataUsingDataContractB" message="tns:ServiceB_GetDataUsingDataContractB_InputMessage" />
      <wsdl:output wsaw:Action="http://127.0.0.1:11224/ServiceB/GetDataUsingDataContractBResponse" message="tns:ServiceB_GetDataUsingDataContractB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Call">
      <wsdl:output wsaw:Action="http://127.0.0.1:11224/ServiceB/Call" message="tns:ServiceB_Call_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://127.0.0.1:11224/ServiceB/CallResponse" message="tns:ServiceB_Call_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>