WCF/TestWCF/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://127.0.0.1:11223" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://127.0.0.1:11223" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:11223/Imports">
      <xsd:import schemaLocation="http://localhost:11223/?xsd=xsd0" namespace="http://127.0.0.1:11223" />
      <xsd:import schemaLocation="http://localhost:11223/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11223/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Icl" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceA_GetDataA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataA" />
  </wsdl:message>
  <wsdl:message name="ServiceA_GetDataA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataAResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceA_GetDataUsingDataContractA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractA" />
  </wsdl:message>
  <wsdl:message name="ServiceA_GetDataUsingDataContractA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractAResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceA">
    <wsdl:operation name="GetDataA">
      <wsdl:input wsaw:Action="http://127.0.0.1:11223/ServiceA/GetDataA" message="tns:ServiceA_GetDataA_InputMessage" />
      <wsdl:output wsaw:Action="http://127.0.0.1:11223/ServiceA/GetDataAResponse" message="tns:ServiceA_GetDataA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContractA">
      <wsdl:input wsaw:Action="http://127.0.0.1:11223/ServiceA/GetDataUsingDataContractA" message="tns:ServiceA_GetDataUsingDataContractA_InputMessage" />
      <wsdl:output wsaw:Action="http://127.0.0.1:11223/ServiceA/GetDataUsingDataContractAResponse" message="tns:ServiceA_GetDataUsingDataContractA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>